.container{
    position: absolute;
    top: 7%;
    left: 20%;
   
    
  
      background-color: white;
      border: 2px; 
      border-style: solid;
      border-color: grey;
      justify-content: center;
      border-radius: 15px;
      width: 950px;
      height: 600px;
      margin: 50px;
      text-align: center;
      box-shadow: 10px 10px 10px rgb(140, 140, 140);
      vertical-align: middle;
  
  }
  
  .btn{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }