.container{
    margin: auto;
    width: 1200px;
    margin-left: 200px;
    margin-right: 100px;
    border-style: solid;
    border-color: grey;
    box-shadow: 10px 10px 10px grey;
    border-width: 0.5px;
    border-radius: 10px;
}
h3{
    text-align: center;
    margin-top: 10px;
}
#no{
    margin-left: 25px;
}
.form-control{
    margin-bottom: 20px;
}
.btn{
    margin-bottom: 20px;
}