<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="#">
            <img src="..\assets\bookicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
            <br> <p class="digtbook">Digital Book</p> 

          <br>  <li class="nav1">
                <a class="" routerLink="/bookslist" href="#">Allbooklist</a>
                <a class="sbl" routerLink="/createbook" href="#">createbooklist</a>
              </li>
              <form class="form1">
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/signin" type="submit">logout</button>
              </form>
              
        
        <li class="nav-item active">
          <p class="nav-link" ></p>
        </li>
        
      </ul>
    </div>
  </nav>

